<footer>
  <figure class="footer-upper">
    <img src="/image/footer-part.png">
  </figure>
  <div class="footer-bottom">
    <figure class="logo">
      <a href="#">
        <img src="/image/logo.png" alt="Signpost Test logo">
      </a>
    </figure>
    <div class="icons">
      <figure>
        <a href="https://www.linkedin.com/in/ruoyushen">
          <img src="/image/icon-linkedin.png" alt="Linkedin icon">
        </a>
      </figure>
      <figure>
        <a href="mailto:shenruo2@msu.edu">
          <img src="/image/icon-mail.png" alt="mail icon">
        </a>
      </figure>
      <figure>
        <a href="sms:7472509189">
          <img src="/image/icon-phone.png" alt="phone icon">
        </a>
      </figure>
    </div>
  </div>
</footer>
