<head>
  <meta charset="utf-8">
  <title>Signpost Test - <%= name %></title>
  <% Object.keys(css).forEach(function (id) { %>
    <link rel="stylesheet" href="<%= /css/ + css[id] %>">
  <% }) %>
  <link rel="shortcut icon" type="image/x-icon" href="/image/favicon.ico">
</head>
