<nav>
  <div class="center-center">
    <figure class="logo">
      <a href="/">
        <img src="/image/logo.png" alt="Signpost Test logo">
      </a>
    </figure>
    <a class="nav-item" href="/">Home</a>
    <a class="nav-item" href="javascript: window.alert('under construction')">Scientific tests</a>
    <a class="nav-item" href="/interesting-tests">Interesting tests</a>
  </div>
  <div class="center-center">
    <input class="nav-item" type="text" id="search-text">
    <button id="search-button">
      <img src="/image/search.png" alt="search icon">
    </button>
    <div class="nav-item line"></div>
    <button class="nav-item nav-big" id="random-test-button">random test</button>
  </div>
</nav>
