<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <banner>
        <figure>
          <img src="/image/banner-main.png" alt="banner">
        </figure>
      </banner>
      <article>
        <header>
          <h1>What can you do here?</h1>
        </header>
        <section class="card-container">
          <div class="card">
            <div>
              <h2>Re-define yourself</h2>
              <p>Every test here is a key to your heart. You will discover a more stereo self and know subtle fun facts about yourself. </p>
            </div>
            <figure>
              <img src="/image/icon1-1.png" alt="key icon">
            </figure>
          </div>
          <div class="card">
            <div>
              <h2>Share your results</h2>
              <p>The results of interesting tests can be a topic to you and your friends. Share your results to your friends, so they can also get their psychological tests done!</p>
            </div>
            <figure>
              <img src="/image/icon1-2.png" alt="key icon">
            </figure>
          </div>
          <div class="card">
            <div>
              <h2>Seek for help</h2>
              <p>Feeling emotional bad? Don’t worry, our verified counsellors will help you after you finished the scientific test. Your result will be sent to the counsellor with a pseudonym.</p>
            </div>
            <figure>
              <img src="/image/icon1-3.png" alt="key icon">
            </figure>
          </div>
        </section>
      </article>
    </main>
    <%- include('../partials/footer') %>
  </body>
  <script type="module" src="/js/main.js"></script>
</html>
