<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/nav') %>
    <main>
      <article>
        <header>
          <h1>Select a test:</h1>
        </header>
        <section class="card-container">
          <div class="card">
            <div>
              <div class="card-info">
                <figure>
                  <img src="../image/icon1-1.png" alt="key icon">
                </figure>
                <div>
                  <h2>MBTI</h2>
                  <p>Estimate time: 15 min</p>
                  <p>Questions: 42</p>
                </div>
              </div>
              <div class="description">
                <p>Myers–Briggs Type Indicator, or MBTI, is an introspecitve self-report questionnaire indicating differing psychological perferances in how people perceive the world and make decisions. In MBTI model, individuals are classified as 16 types by their personalities. The result is widely used for job evaluation and self-identificaton.</p>
              </div>
            </div>
            <button class="test-button" id="mbti1">Enter</button>
          </div>
          <div class="card">
            <div>
              <div class="card-info">
                <figure>
                  <img src="../image/icon1-1.png" alt="key icon">
                </figure>
                <div>
                  <h2>MBTI</h2>
                  <p>Estimate time: 15 min</p>
                  <p>Questions: 42</p>
                </div>
              </div>
              <div class="description">
                <p>Myers–Briggs Type Indicator, or MBTI, is an introspecitve self-report questionnaire indicating differing psychological perferances in how people perceive the world and make decisions. In MBTI model, individuals are classified as 16 types by their personalities. The result is widely used for job evaluation and self-identificaton.</p>
              </div>
            </div>
            <button class="test-button" id="mbti0">Enter</button>
          </div>
          <div class="card">
            <div>
              <div class="card-info">
                <figure>
                  <img src="../image/icon1-1.png" alt="key icon">
                </figure>
                <div>
                  <h2>MBTI</h2>
                  <p>Estimate time: 15 min</p>
                  <p>Questions: 42</p>
                </div>
              </div>
              <div class="description">
                <p>Myers–Briggs Type Indicator, or MBTI, is an introspecitve self-report questionnaire indicating differing psychological perferances in how people perceive the world and make decisions. In MBTI model, individuals are classified as 16 types by their personalities. The result is widely used for job evaluation and self-identificaton.</p>
              </div>
            </div>
            <button class="test-button" id="mbti2">Enter</button>
          </div>
          <div class="card">
            <div>
              <div class="card-info">
                <figure>
                  <img src="../image/icon1-1.png" alt="key icon">
                </figure>
                <div>
                  <h2>MBTI</h2>
                  <p>Estimate time: 15 min</p>
                  <p>Questions: 42</p>
                </div>
              </div>
              <div class="description">
                <p>Myers–Briggs Type Indicator, or MBTI, is an introspecitve self-report questionnaire indicating differing psychological perferances in how people perceive the world and make decisions. In MBTI model, individuals are classified as 16 types by their personalities. The result is widely used for job evaluation and self-identificaton.</p>
              </div>
            </div>
            <button class="test-button" id="mbti3">Enter</button>
          </div>
          <div class="card">
            <div>
              <div class="card-info">
                <figure>
                  <img src="../image/icon1-1.png" alt="key icon">
                </figure>
                <div>
                  <h2>MBTI</h2>
                  <p>Estimate time: 15 min</p>
                  <p>Questions: 42</p>
                </div>
              </div>
              <div class="description">
                <p>Myers–Briggs Type Indicator, or MBTI, is an introspecitve self-report questionnaire indicating differing psychological perferances in how people perceive the world and make decisions. In MBTI model, individuals are classified as 16 types by their personalities. The result is widely used for job evaluation and self-identificaton.</p>
              </div>
            </div>
            <button class="test-button" id="mbti4">Enter</button>
          </div>
          <div class="card invisible">
            <div>
              <div class="card-info">
                <figure>
                  <img src="../image/icon1-1.png" alt="key icon">
                </figure>
                <div>
                  <h2>MBTI</h2>
                  <p>Estimate time: 15 min</p>
                  <p>Questions: 42</p>
                </div>
              </div>
              <div class="description">
                <p>Myers–Briggs Type Indicator, or MBTI, is an introspecitve self-report questionnaire indicating differing psychological perferances in how people perceive the world and make decisions. In MBTI model, individuals are classified as 16 types by their personalities. The result is widely used for job evaluation and self-identificaton.</p>
              </div>
            </div>
            <button class="test-button">Enter</button>
          </div>
        </section>
      </article>
    </main>
    <%- include('../partials/footer') %>
  </body>
  <script src="/js/main.js"></script>
  <script src="/js/test-page.js"></script>
</html>
