$radius: 6px;
$main_font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$Article_font: "Arial Round";
$color-bg: #efefef;
$color-button: #e87d34;
$color-dark-line: #969696;
$color-theme-purple-reg: #481d6d;
$navs-height: 40px;
$navs-width: 11%;
