@import "_varilib";
@font-face{
  font-family: "Arial Round";
  src: url(../font/arlrdbd.ttf) format('truetype');
}

body{
  font-family: $main_font;
  margin: 0;
  background-color: $color-bg;
  min-width: 1200px;
}
figure{
  margin: 0;
  text-align: center;
}
a{
  text-decoration: none;
  color: $color-bg;
}

button{
  background-color: $color-button;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: $radius;
  font-family: $main_font;
  img{
    height: 20px;
    text-align: center;
  }
  &:hover{
    transition: all .2s ease-out;
    transform: translateY(-2px);
    background-color:lighten($color-button, 10%);
    box-shadow: 0 2px 2px rgb(138, 138, 138);
  }
  &:active{
    transition: all .2s ease-in;
    transform: translateY(3px);
  }
}

figure.logo{
  height: 80px;
  background-color: #311054;
  width: 150px;
  img{
    height: 60px;
    width: auto;
    padding: 10px 0;
  }
}

nav{
  display: flex;
  justify-content: space-between;
  color: $color-bg;
  background-color: #481d6d;
  height: 80px;
  .nav-item{
    user-select: none;
    margin-left: 30px;
    .login{
      height: 40px;
      width: 40px;
      padding: 0;
      img{
        height: 100%;
        padding: 0;
      }
    }
  }
  a.nav-item{
    padding: 27px 0;
    &:hover{
      border-bottom: 4px solid $color-button;
      border-top: 4px solid hsl(272, 58%, 27%);
    }
  }
  input{
    height: 30px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: $radius;
    min-width: 200px;
  }
  button{
    height: 30px;
    color: $color-bg;
    font-size: 15px;
    margin-left: 4px;
    &.nav-big{
      padding: 0 20px;
      height: 40px;
    }
  }
  .line{
    width: 1px;
    height: 50px;
    background-color: $color-dark-line;
  }
  .menu-slide-down{
    img{
      cursor: pointer;
    }
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 20px 0 20px;
    width: 40px;
    overflow: hidden;
    height: 40px;
    z-index: 10;
    &:hover{
      margin: 20px 20px 0 -60px;
      width: 120px;
      height: fit-content;
    }
    .hidden-menu-container{
      margin-top: 10px;
      border-radius: $radius;
      background-color: #efefef;
      padding: 0 10px;
      .hidden-menu{
        color: #474747;
        font-size: 12px;
        text-align: center;
        padding: 10px 0;
        margin: 0;
        border-top: 1px solid $color-dark-line;
      }
      .first{
        border: none;
      }
    }
  }
}

img{
  user-select: none;
}

main{
  margin: 0;
  min-height: 500px;
  img{
    width: 100%;
  }
  article{
    font-family: $Article_font;
    color: #474747;
    text-align: center;
    .card-container{
      display: flex;
      justify-content: center;
      .card{
        background-color: #af90d1;
        border-radius: $radius;
        color: $color-bg;
        width: 300px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2{
          text-align: center;
          font-weight: normal;
          font-size: 25px;
        }
        p{
          padding: 0 20px;
          text-align: justify;
          font-size: 16px;
        }
        figure{
          margin: 30px;
          img{
            height: 150px;
            width: auto;
          }
        }
        
      }
    }
  }
}

footer{
  margin-top: 80px;
  img{
    width: 100%;
  }
  .footer-bottom{
    background-color: #471d6d;
    height: $navs-height;
    display: flex;
    figure.logo{
      height: $navs-height;
      width: $navs-width;
    }
    .icons{
      display: flex;
      img{
        height: 30px;
        width: auto;
        margin-left: 50px;
      }
    }
  }
  .footer-upper img{
    display: block;
  }
  .footer-bottom img{
    margin-top: -45px;
  }
}



h1{
  font-weight: normal;
  font-size: 40px;
}

.center-center{
  display: flex;
  align-items: center;
}

.center-start{
  display: flex;
}

.invisible{
  visibility: hidden !important;
}

.clickable{
  position: absolute;
  height: 104px;
  width: $navs-width;
  min-width: 130px;
  background-color: transparent;
  z-index: 1;
}
