@import "_varilib";
@font-face{
  font-family: "Arial Round";
  src: url(../font/arlrdbd.ttf) format('truetype');
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  min-width: 1100px;
}

nav{
  position: fixed;
  min-width: 1100px;
}

main{
  padding-top: 80px;
  font-family: $Article_font;
  banner{
    display: block;
    height: 240px;
    width: 100%;
    background: url(/image/banner-test.png) no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
  }
  .submit{
    color: $color-bg;
    font-size: 20px;
    padding: 0 20px;
    margin-top: 20px;
    height: 45px;
  }
  .question-container{
    margin-top: -80px;
    padding: 0 100px;
    font-size: 20px;
    color: #474747;
    li{
      margin-top: 10px;
    }
    .instruction{
      padding: 10px 40px;
    }
    .ques{
      background-color: darken($color-bg, 5%);
      transition: all .3s ease;
      overflow: hidden;
      display: flex;
      justify-content: space-between;
      border-radius: $radius;
      padding-left: 40px;
      margin: 10px 0;
      .indicator{
        background-color: darken($color-bg, 20%);;
        height: 100%;
        width: 20px;
      }
      .selected{
        background-color:$color-button;
      }
      ul{
        padding-bottom: 20px;
        li{
          list-style-type: none;
        }
      }
      
    }
    .dark{
      background-color: #af90d1;
      color: $color-bg;
    }
    .instruction{
      li{
        font-size: 16px;
      }
    }
  }
  .error-message{
    color: red;
    font-size: 14px;
    display: none;
    margin-bottom: 20px;
  }
}

.display-none{
  visibility: hidden;
  position: absolute;
  top: -100000px;
  left: -100000px
}

h1{
  padding-bottom: 100px;
  margin-left: 60px;
  color: #474747;
}

.center{
  text-align: center;
}

.timer-container{
  pointer-events: none;
  position: fixed;
  width: 100%;
  top: 100px;
  display: flex;
  justify-content: flex-end;
  .timer{
    pointer-events: all;
    width: fit-content;
    background-color: $color-theme-purple-reg;
    color: $color-bg;
    margin-right: 30px;
    padding: 0 20px;
    border-radius: 15px;
    opacity: 50%;
    transition: all .2s linear 3s;
    &:hover{
      transition: all .2s linear;
      opacity: 100%;
      .progress{
        height: 20px;
        margin-bottom: 15px;
        overflow: visible;
      }
    }
    .progress{
      transition: all .2s linear;
      height: 2px;
      width: 0;
      background-color: $color-button;
      border-radius: 4px;
      overflow: hidden;
      p{
        position: relative;
        left: 30px;
        white-space: nowrap;
      }
    }
  }
}
